#home .ui.rating.star .icon {
    color: gray;
}
.masthead .quote {
    position: absolute;
    color: white!important;
    bottom: 18px;
    text-align: right;
    right: 50px;
}
.masthead .quote .header {
    color: white;
}
.ui.vertical.segment {
    padding: 20px 0px 100px 0px;
}
.circle {
    color: #fff;
    text-align: center;
    background: #323B61;
    margin: auto;
    width: 9em;
    height: 9em;
    border-radius: 9em;
    line-height: 9em;
}
.ui.label.skill {
    background: #323B61;
    color: #fff;
}
.jlarge.circle {
    font-size: 2em;
}
.jsmall.circle {
    font-size: 1em;
}
#home .circle .skill {
    border-bottom-style: solid;
    border-width: 1px;
}
#home .skill {
    text-transform: uppercase;
    color: #fff !important;
}
#home .jlarge.circle .skill {
    padding: 1px 10px;
}
#home .jsmall.circle .skill {
    padding: 1px 5px;
}
#home .circle .skill.blue {
    border-color: #00b5ad;
}
#home .circle .skill.green {
    border-color: #0EC800;
}
#home .circle .skill.orange {
    border-color: #e07b53;
}
#home .circle .skill.pink {
    border-color: #d9499a;
}
#home .circle .skill.purple {
    border-color: #564f8a;
}
#home .circle .skill.red {
    border-color: #d95c5c;
}
#home .circle .skill.teal {
    border-color: #00b5ad;
}
#home .circle .skill.yellow {
    border-color: #f2c61f;
}
#home .ui.top.left.attached.label {
    border-top-left-radius: 0px;
}
h1.ui.header {
    margin-top: 10px;
}
.jevent {
    font-size: 1.5em;
}
.jevent .label .icon {
    margin-top: 0.6em;
}
.jaward .image {
    margin: -1px;
}
/* #home p {
    font-size: 120%;
} */

@media only screen and (min-width: 1050px) {
     #home .ui.vertical.segment {
        height: 100vh;        
    }    
    #home nav {
        position: fixed;
        z-index: 1;
        right: 3%;
        top: 50%;
        bottom: auto;
    }
    .jlarge.circle {
        font-size: 1.5em;
        height: 25vh;
        width: 25vh;
        border-radius: 25vh;
        line-height: 25vh;
    }
    .jsmall.circle {
        font-size: 1em;
        height: 15vh;
        width: 15vh;
        border-radius: 15vh;
        line-height: 15vh;
    }
    .jbio .row {
        margin-top: 15vh;
    }
    .jbio .row p {
        font-size: 1.6em;
    }
    .jevents .column {
        margin-top: 10vh;
    }
    .jevents .ui.feed {
        margin: auto;
        width: 50%;
    }
    #home .card {
        margin: 1.8em 20px;
    }
    .jaward.ui.card {
        height: 70vh;
    }
}
@media only screen and (max-width: 1050px) {
    #home nav {
        display: none;
    }
    #home .card {
        margin: 1.8em auto;
    }
}

#home .masthead {
    padding: 1em 0 0 0;
    /* padding: 0 0 0.8em 0; */
}
.masthead .header-background {
    z-index: -2;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.attached.label {
    text-transform: uppercase;
}
.jbio p {
    font-size: 1.3em;
}
#home {
    /*background-color: gray;*/
}
.ui.white.segment {
    background-color: white!important;
}

img.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 510px;
  height: 46px;
  margin-top: -23px;
  margin-left: -255px;
}
